.containerPhoto {
    position: relative;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
}

.photo:hover {
    box-shadow: 0 0 0.2rem 0.2rem black;
}

.download {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    top: 0.75rem;
    right: 0.75rem;
}

.download:hover {
    transform: scale(1.25);
    transition: 0.25s;
    cursor: pointer;
}

/* .download:hover {
    display: block;
}

.download:hover~.favorite {
    display: block;
}

.download:hover~.photo {
    box-shadow: 0 0 0.2rem 0.2rem black;
} */

.configuration {
    position: absolute;
    display: none;
    width: 4rem;
    height: 2rem;
    right: 2.5rem;
    bottom: 1rem;
}

.configuration:hover {
    transform: scale(1.25);
    transition: 0.25s;
    cursor: pointer;
}

.nonFavorite {
    position: absolute;
    display: block;
    width: 3rem;
    height: 3rem;
    right: 0.5rem;
    bottom: 0.5rem;
}

.nonFavorite:hover {
    transform: scale(1.25);
    transition: 0.25s;
    cursor: pointer;
}

.favorite {
    position: absolute;
    display: none;
    width: 2.15rem;
    height: 2rem;
    right: 0.9rem;
    bottom: 1rem;
}

.favorite:hover {
    transform: scale(1.25);
    transition: 0.5s;
    cursor: pointer;
}

/* .favorite:hover {
    display: none;
    background-image: url("D:\Varios-PC\Educacion\TrainingOxygen\Temario\Practicas\PhotoAPP\img\HearthSplitted-icon.png");
} */

.displayBlock {
    display: block;
}

.displayFlex {
    display: flex;
}

.displayNone {
    display: none;
}