.containerHeader {
    text-align: center;
    height: 15rem;
    background-image: url("D:\Varios-PC\Educacion\TrainingOxygen\Temario\Practicas\PhotoAPP\img\page-1-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

.title {
    padding: 2.5rem 0;
    font-family: 'Racing Sans One';
    font-size: 3em;
    font-weight: 1;
    color: #FF0004;
    -webkit-text-stroke: 0.1em white;
    paint-order: stroke fill;
}

.input {
    text-align: center;
    padding: 0.5em;
    width: 90%;
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 400;
    border: none;
    border-radius: 2rem;
}

.input::placeholder {
    color: #C1C1C1;
    opacity: 1;
}

.containerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 1.5rem 0.5rem;
    width: 10rem;
    height: 3rem;
    font-family: 'Raleway';
    font-weight: 700;
    border: none;
    border-radius: 0.75rem;
    background-color: #C7C7C7;
    background-repeat: no-repeat;
}

.button:hover {
    box-shadow: 0 0 0.1rem 0.1rem black;
}

.buttonSortBy {
    padding-right: 2em;
    font-size: 1.5em;
    background-image: url("D:\Varios-PC\Educacion\TrainingOxygen\Temario\Practicas\PhotoAPP\img\Sort-icon.png");
    /* background-image: url("img\Sort-icon.png"); */
    background-position: bottom 0.15em right 0.6em;
    background-size: 40px 40px;
}

#select::-ms-expand {
    display: none;
}

.buttonSwitchPage1 {
    padding-right: 1.5em;
    font-size: 1em;
    background-image: url("D:\Varios-PC\Educacion\TrainingOxygen\Temario\Practicas\PhotoAPP\img\Heart-icon.png");
    /* background-image: url("img\Heart-icon.png"); */
    background-position: bottom 0.5em right 0.6em;
    background-size: 30px 30px;
}

.buttonSwitchPage2 {
    padding-right: 3em;
    font-size: 0.9em;
    background-image: url("D:\Varios-PC\Educacion\TrainingOxygen\Temario\Practicas\PhotoAPP\img\SearchPhotos-icon.png");
    background-position: bottom 0.3em right 0.5em;
    background-size: 40px 40px;
}

.containerPhotos {
    padding: 0 1em 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media only screen and (min-width: 750px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1000px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (min-width: 1250px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (min-width: 1500px) {
        grid-template-columns: repeat(6, 1fr);
    }
}